@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.upper-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  width: 300px;
  padding: 10px;
}

.logo p {
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  color: #ec1818;
  font-weight: bold;
}

.logo p span {
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  color: black;
}

.head-line {
  width: 100%;
  max-width: 400px;
  border: 1px solid #000;
  margin-top: 20px;
}

.content {
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  display: flex;
}

.search {
  width: 1000px;
  margin: 0 20px 30px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search h2 {
  margin-bottom: 20px;
  color: #c98208;
}

.search form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search label {
  text-align: left;
  margin-bottom: 10px;
  font-weight: 600;
}

.search input {
  width: 70%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
}

.search button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search button:hover {
  background-color: #0056b3;
}

.search-text-list {
  width: 1000px;
  margin: 0 20px 30px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-text-list h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #c98208;
}

.search-text-list ul {
  list-style: none;
  padding: 0;
}

.search-text-list li {
  margin-bottom: 10px;
  text-align: center;
}

.search-text-list button {
  padding: 10px 20px;
  font-size: 16px;
  color: #001F63;
  background-color: #CDCDCE;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-text-list button:hover {
  background-color: #B6B8BB;
}

.tracked-product-list {
  width: 1000px;
  margin: 0 20px 30px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tracked-product-list h2 {
  color: #c98208;
  text-align: center;
  margin-bottom: 20px;
}
.tracked-product-list h3 {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 20px;
}

.tracked-product-list ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.tracked-product-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.tracked-product-list li:last-child {
  border-bottom: none;
}

.tracked-product-list input[type="checkbox"] {
  margin-left: 10px;
}

.tracked-product-list .add-product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tracked-product-list .add-product input[type="text"] {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 12px;
}

.tracked-product-list .add-product button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tracked-product-list .add-product button:hover {
  background-color: #0056b3;
}

.price-history {
  width: 1000px;
  margin: 0 auto;
  padding: 0px;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.price-history h2 {
  color: #c98208;
  text-align: center;
  margin-bottom: 20px;
}

.price-history table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.price-history thead {
  background-color: #E1E0E0;
  color: white;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
  color: #001F63;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

.price-history a {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.price-history a:hover {
  text-decoration: underline;
}

.price-history button {
  display: block;
  width: 100px;
  margin: 20px auto;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.price-history button:hover {
  background-color: #0056b3;
}

.price-history .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-history .row th, .row td {
  flex: 1;
}

.price-history td {
  text-align: center;
}

.price-history .red {
  color: red;
}

.price-history .green {
  color: green;
}